# regras para ignorar arquivos sem extensão
# (que são geralmente executáveis indesejados)
*
!/**/
!*.*


# .gitignore do github para C
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# regras pra arquivos gerados por sistemas
# da Apple

.DS_Store
.localized
